body {
  border: 2px solid black;
  margin: 10px 500px;
}

header {
  border: 5px double black;
}

header nav {
  background-color: papayawhip;
  display: flex;
  flex-flow: column nowrap;
  text-decoration: none;
}
